body {
    background: #111;
    --planet-size: 200px;
    --ufo-width: 80px;
    --ufo-height: 40px;
    --item-limit: 400px;
    --global-scale: 1;
    --human-animation-duration: 15s;
    --rocket-animation-duration: 12s;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: Consolas, monaco, monospace;
    color: #eee;
  }

  * { -webkit-touch-callout: none; -webkit-user-select: none; user-select: none; }
    
    body { -webkit-tap-highlight-color: transparent; }

  .center {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: block;
  }

  .planet {
    width: var(--planet-size);
    height:  var(--planet-size);
    font-size: var(--planet-size);
    line-height: var(--planet-size);
  }

  .ad-support {
    --orbit-from: 0deg;
    width: 32px;
    height: 32px;
    animation: orbit-ad 60s linear infinite reverse;
  }

  .ad-support::after {
    content: '';
    width: 197px;
    height: 92px;
    display: block;
    position: absolute;
    left: -90px;
    bottom: 40px;
    border: 4px solid #fff;
    background-color: #fff;
    background-image: url('./assets/ads.min.png');
    animation: flicker linear infinite 2s;
  }

  .h {
    width: 197px;
    height: 31px;
    display: block;
    position: absolute;
    right: -79px;
    bottom: 44px;
    background: #000;
    z-index: 1;
    transition: width 500ms ease-in;
    display: none;
  }

  .h+.h {
    bottom: 75px;
  }

  .h+.h+.h {
    bottom: 106px;
  }

  .ad-support.on > .h {
    display: block;
  }

  .ad-support.on.level1 > .h:last-of-type,
  .ad-support.on.level2 > .h:nth-of-type(2),
  .ad-support.on.level3 > .h:first-of-type {
    width: 0;
  }

  .ad-support::before {
    content: '';
    width: 4px;
    height: 100px;
    display: block;
    position: absolute;
    left: 9px;
    bottom: 28px;
    background-color: #fff;
  }


  .ad-support.on::after {
    background-position-y: -93px;
    animation: none;
  } 

  .ad-support+.ad-support.on::after {
    background-position-y: -186px;
  } 

  .ad-support+.ad-support+.ad-support.on::after {
    background-position-y: -279px;
  } 


  .ad-support+.ad-support {
    --orbit-from: 120deg;
  }

  .ad-support+.ad-support+.ad-support {
    --orbit-from: 240deg;
  }

  .ufo {
    --orbit-from: 0deg;
    --orbit-to: 360deg;
    width:  var(--ufo-width);
    height: var(--ufo-height);
    font-size: var(--ufo-height);
    line-height: var(--ufo-height);

    animation: orbit 6s linear infinite;
  }

  .ufo-emoji {
    transform: rotate(90deg);
    display: block;
  }

  .ufo-translate {
    transform: translateX(calc(var(--planet-size)/2 + var(--ufo-width)/2));
    display:  block;
    transition: transform 1s ease-in-out;
  }

  .limit {
    width:  calc(var(--item-limit) * 2);
    height: calc(var(--item-limit) * 2);
    border-radius: 50%;
    border: 1px solid currentColor;
    animation: rainbow 120s linear infinite;
  }

  #background {
    background: #111;
    width: 100%;
    height: auto;
  }

  .item-scale {
    display: block;
    font-size: 70px;
    text-shadow: #f3f3f3 1px 0 10px;
    width: 60px;
    text-align: center;
    height: 100px;
    transform: scale(1);
    animation: grow var(--human-animation-duration) ease-in 1 forwards;
  }

  .item-translate {
    transform: translateY(0);
    animation: fly var(--human-animation-duration) ease-in 1 forwards;
  }

  .item-scale.rocket,.item-translate.rocket {
    animation-duration: var(--rocket-animation-duration);
  }

  .rocket-image {
    transform: rotate(-45deg);
    filter: drop-shadow(1px 0 10px red);
  }

  .money {
    animation: float 5s ease-in-out infinite;
  }

  .money .transform {
    transition: all 300ms;
  }

  .money.absorbed .transform {
    transform: scale(0) translateY(-80px);
    opacity: 0;
  }

  #t {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    flex-direction: column;
    transition: transform 1s;
  }

  .started #t {
    transform: translateX(-100vw);
  }

  .st {
    font-size: 2rem;
    animation: blink 1.2s infinite;
  }

  .st .m { display: none; }

  @media (pointer:coarse) {
    .st .d {
      display: none;
    }

    .st .m {
      display: block;
    }
  }

  #c {
    position: fixed;
    visibility: hidden;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transform: translateX(100vw) scale(var(--global-scale));
    transition: transform 1s;
  }

  .started #c {
    visibility: visible;
    transform: translateX(0) scale(var(--global-scale));
  }

  .end #c {
    visibility: visible;
    transform: translateY(-200vh) scale(var(--global-scale));
  }
  
  #sc, #lc {
    position: fixed;
    left: 20px;
    top: 20px;
    font-size: 2rem;
    word-spacing: -10px;
    text-align: left;
    z-index: 3;
    transform: translateX(-50vw);
    transition: transform 333ms ease-in;
  }

  .started #sc, .started #lc {
    transform: translateX(0);
  }

  #sc {
    width: 0;
    height: 0;
    white-space: nowrap;
    display: flex;
    transition: all 333ms ease-in-out;
    transition-delay: font-size 100ms;
  }

  .end #sc {
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    font-size: 2.5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  #lc {
    top: auto;
    bottom: 20px;
  }

  .score-delta {
    font-size: 1.4rem;
    position: fixed;
    z-index: 2;
    animation: vanish 1s ease-out forwards;
  }

  #go, #gor, #gost {
    width: 100%;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    transition: all 333ms ease-in-out;
    z-index: 4;
  }

  #go {
    transform: translateY(-100vh);
    font-size: 4rem;
    top: 20vh;
    text-transform: uppercase;
  }

  #gor {
    transform: translateY(100vh);
    font-size: 2.5rem;
    top: 33vh;
  }

  #gost {
    transform: translateY(100vh);
    bottom: 20vh;
  }

  .end #go, .end #gor, .end #gost {
    transform: translateY(0);
  }

  @keyframes orbit {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }


  @keyframes orbit-ad {
    from {
      transform: rotate(var(--orbit-from)) translateY(-400px);
    }

    to {
      transform: rotate(calc(var(--orbit-from) + 360deg)) translateY(-400px);
    }
  }


  @keyframes grow {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }

  @keyframes fly {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(var(--item-limit) * -1));
    }
  }

  @keyframes vanish {
    from {
      transform: translateY(0);
      opacity: 1;
    }
    to {
      transform: translateY(-40px);
      opacity: 0;
    }
  }

  @keyframes fly-away {
    from {
      transform: translateY(calc(var(--item-limit) * -1));
      opacity: 1;
    }
    to {
      transform: translateY(-9999px);
      opacity: 0;
    }
  }

  @keyframes rainbow {
    0% {
      color: white;
    }
    12.5% {
      color: pink;
    }
    25% {
      color: purple;
    }
    35.5% {
      color: blue;
    }
    50% {
      color: aqua;
    }
    62.5% {
      color: green;
    }
    75% {
      color: yellow;
    }
    87.5% {
      color: orange;
    }
    100% {
      color: red;
    }
  }

  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes blink {
    0%{     opacity: 1;    }
    49%{    opacity: 1; }
    60%{    opacity: 0; }
    99%{    opacity: 0;  }
    100%{   opacity: 1;    }
  }

  @keyframes flicker {
    75% {
      background-color: #fff;
    }
    76% {
      background-color: rgb(0, 162,323);
    }
    77% {
      background-color: #fff;
    }
    78% {
      background-color: #fff;
    }
    79% {
      background-color: rgb(0, 162,323);
    }
    80% {
      background-color: #fff;
    }
    90% {
      background-color: rgb(0, 162,323);
    }
    90.5% {
      background-color: #fff;
    }
  }

  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, -1px, -1px);
    }
    
    20%, 80% {
      transform: translate3d(2px, 2px, 2px);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, -4px, -4px);
    }
  
    40%, 60% {
      transform: translate3d(4px, 4px, 4px);
    }
  }